 <div class="container">      
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Overview', root_path %></li>
      <li><%= link_to 'Stands', stands_path %></li>
      <li><%= link_to 'Plants', plants_path %></li>
    </ul>
  </nav>
</div>

